
<% provide(:title, "Contact") %>
<body>
<h1>Contact</h1>
<p>
  Contact people and stuff here.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>
